.background {
  viewport-fill: red;
}

#myLabel {
  font-size: 80;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 50%+40;
  fill: white;
}

.gval {
  fill: white;
}

.my-item { font-size: 120; font-family: Seville-Book; fill: white; x: 5; y: 117; }

.tile-list-item {
  height: 88;
}

.tile-list-item text {
  font-family: System-Regular;
  fill: "white";
}

.tile-divider-bottom {
  x: 0;
  y: 100%-2;
  width: 100%;
  height: 2;
  fill: #A0A0A0;
}

